= form_for @life_venture, html: {class: "form-horizontal"} do |f|

  = render partial: "/shared/errors", locals:{object: @life_venture}

  = f.label :name
  = f.text_field :name
  %br
  = f.label :category
  = f.text_field :category
  %br
  = f.submit
