= form_for [@life_venture, @reason], html: {class: "form-horizontal"} do |f|
  = render partial: "/shared/errors", locals:{object: @reason}

  .row
    .well.col-md-offset-2.col-md-8
      .form-group
        = f.label :name, class:"col-md-4 control-label"
        .col-md-8
          = f.text_field :name, class: "form-control"
      .form-group
        = f.label :priority, class:"col-md-4 control-label"
        .col-md-4
          = f.collection_select(:priority, Reason::PRIORITY, :to_s, :to_s, {}, {class: "form-control"})
      .form-group
        .col-md-offset-4.col-md-4
          = f.submit class: "btn btn-success form-control"
