.row
  .well.col-md-offset-3.col-md-6
    .form-group.page-header
      %h1 Sign in - Why is the Way

      - if flash[:failure]
        %strong
          %p.text-danger= flash[:failure]


    = form_tag sign_in_path do
      .form-group
        = label_tag :email
        = email_field_tag :email, 'email@example.com', class: 'form-control'
      .form-group
        = label_tag :password
        = password_field_tag :password, 'password', class: "form-control"
      = submit_tag 'Sign In', class: 'btn btn-primary'
