.page-header
  .pull-right
    =link_to "New Step", new_life_venture_step_path(@life_venture), class: "btn btn-success"
  %h1 List of Steps

%ol.breadcrumb
  %li= link_to "Life Ventures", life_ventures_path
  %li= link_to @life_venture.name, life_venture_path(@life_venture)
  %li Steps

%table.footable
  %thead
    %tr
      %th Description
      %th Due Date
      %th Obstacles
      %th Progress
      %th{"data-sort-ignore" => "true"}
      %th{"data-sort-ignore" => "true"}

  - @steps.each do |step|
    %tr
      %td= step.name
      %td= step.due_date.strftime("%B %d, %Y")
      %td= link_to step.obstacles.count, step_obstacles_path(step)
      %td not YET
      %td= link_to 'Edit', edit_life_venture_step_path(@life_venture, step), class: "btn btn-warning pull-right"
      %td= link_to '', life_venture_steps_path, method: :delete, class:'glyphicon glyphicon-remove'
